@import "tailwindcss";
.randomize-button {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;       /* items-center */
  justify-content: center;   /* justify-center */
  font-weight: 700;          /* font-bold */
  font-size: 7vh;            /* text-[8vh] */
  margin: auto;              /* m-auto */
  background-color: #16a34a; /* bg-green-600 */
  color: white;              /* text-white */
  height: 10vh;              /* h-[10vh] */
  border-width: 2px;
  border-color: black;
}
body {
  background-color: #bcebff; /* sky blue */
  margin: 0; /* optional: remove default margin */
  min-height: 100vh; /* ensure full viewport height */
}